<!-- Applause Button -->
<link rel="stylesheet" href="https://unpkg.com/applause-button/dist/applause-button.css" />
<script src="https://unpkg.com/applause-button/dist/applause-button.js"></script>
<div style="text-align: center; margin-top: 20px;">
  <applause-button style="width: 40px; height: 40px;" color="#000" multiclap="false"></applause-button>
</div>
